$("#follow_form").html('<%= j(render("users/follow")) %>');

$(".follow").html('<%= link_to following_user_path(@User) do %><h5 style="color: black;">フォロー<%= @User.following.count %>人</h5><% end %>');
<!-- フォロー数のカウント -->
$(".follower").html('<%= link_to followers_user_path(@User) do %><h5 style="color: black;">フォロワー<%= @User.followers.count %>人</h5><% end %>');
<!-- フォロワー数のカウント -->