
<div class="div_wrapper">
  <%= form_for @illust do |f| %>
    <div class="Illust_New_wrapper">

          <div class="field">
            <div><%= f.label :image, "作品", class: "label" %></div>
            <div><%= f.file_field :image, class: "input" %></div>
          </div>

          <div class="field">
            <div><%= f.label :title, "タイトル", class: "label" %></div>
            <div><%= f.text_field :title, class: "input" %></div>
          </div>

          <div class="field">
            <div><%= f.label :body, "キャプション", class: "label" %></div>
            <div><%= f.text_area :body, class: "textarea" %></div>
          </div>

          <%= f.submit '編集を完了', class: "button is-success" %>
    </div>
  <% end %>
</div>