<h1>Illusts#new</h1>
<p>Find me in app/views/illusts/new.html.erb</p>

        <%= form_for @illust do |f| %>

          <div class="image_field">
            <%= f.label :image, "作品", class: "label" %>
            <%= f.file_field :image, class: "input" %>
          </div>

          <div class="title_field">
            <%= f.label :title, "タイトル", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="body_field">
            <%= f.label :body, "キャプション", class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>



          <%= f.submit '投稿', class: "button is-success" %>
        <% end %>