<!DOCTYPE html>
<html>
  <head>
    <title>IllustCollection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app' %>

  </head>

  <body>

  <nav class="heaDer_wrap">
    <%= link_to root_path, data: {"turbolinks" => false}, id: "APPname" do %>
      <h1 class="APPNAME">IllustCollection</h1>
    <% end %>
    <ul class="index_wrapper">
      <% if user_signed_in? %>
        <li class="index Appname">
          <h2><%= link_to "IllustCollection", root_path, class: "AppName", data: {"turbolinks" => false} %></h2>
        </li>
        <li class="index">
          <%= link_to "ユーザー一覧", users_path, id: "Index", data: {"turbolinks" => false} %>
        </li>
        <li class="index">
          <%= link_to "作品投稿", new_illust_path,class: "New_Post", id: "Index", data: {"turbolinks" => false} %>
        </li>
        <li class="index">
          <%= link_to "プロフィール", user_path(current_user), id: "Index", data: {"turbolinks" => false} %>
        </li>
        <li class="index">
          <%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトします。よろしいですか？"}, id: "log_out" %>
        </li>
      <% else %>
        <li class="index Appname">
          <h2><%= link_to "IllustCollection", root_path, class: "AppName", data: {"turbolinks" => false} %></h2>
        </li>
        <li class="index">
          <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-light", id: "Index", data: {"turbolinks" => false} %>
        </li>
        <li class="index">
          <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-light", id: "Index", data: {"turbolinks" => false} %>
        </li>
      <% end %>
    </ul>
  </nav>


<!--768px以下で表示-->
  <div class="menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav class="gnavi__sp-style">
    <ul>
      <% if user_signed_in? %>
        <li class="index">
          <%= link_to "ホームへ", root_path, data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to "ユーザー一覧", users_path %>
        </li>
        <li class="index">
          <%= link_to "作品投稿", new_illust_path, data: {"turbolinks" => false} %>
        </li>
        <li class="index">
          <%= link_to "プロフィール", user_path(current_user), data: {"turbolinks" => false} %>
        </li>
        <li class="index">
          <%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトします。よろしいですか？"}, id: "log_out" %>
        </li>
      <% else %>
        <li class="index">
          <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-light", data: {"turbolinks" => false} %>
        </li>
        <li class="index">
          <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-light", data: {"turbolinks" => false} %>
        </li>
      <% end %>
    </ul>
  </nav>
<!--/768px以下で表示-->




    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
 
  </body>
</html>
